body{
    font-family:sans-serif;
  }
  h1,h2,h3 {
  font-family: "Lobster", cursive;
  color:rgb(226, 43, 134);
  }
  nav {
      padding: 30px;
      background-image:linear-gradient(to right,black,purple,green);
      color: rgb(95, 148, 16);
  }
  .navbar{
    margin-top: 0px;
  }
  h2{
    margin-left: 0%;
    background-color: rgb(94, 38, 82);
    color: aqua;
  
  } 
.jumbotron {
  margin:0px;
  padding: 30px;
  background-image: linear-gradient(to right, #5637DD, #3046C5, #60106B);
  color: white;
}
.subnav {
  float: left;
  overflow: hidden;
}

.subnav .subnavbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: red;
}

.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: red;
  width: 100%;
  z-index: 1;
}

.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
}

.subnav-content a:hover {
  background-color: #eee;
  color: black;
}

.subnav:hover.subnav-content {
  display: block;
}