body{
    font-family:sans-serif;
  }
  h1,h2,h3 {
  font-family: "Lobster", cursive;
  color:rgb(226, 43, 134);
  }
  nav {
      padding: 30px;
      background-image:linear-gradient(to right,black,purple,green);
      color: rgb(95, 148, 16);
  }
  .navbar{
    margin-top: 0px;
  }
  h2{
    margin-left: 0%;
    color: aqua;
  
  } 
  h5{
    color:#60106B;
    
  }
.jumbotron {
  margin:0px;
  padding: 30px;
  background-image: linear-gradient(to right, #5637DD, #3046C5, #60106B);
  color: white;
}
.navbar {
  background-color: #333; 
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.subnav {
  float: left;
  overflow: hidden;
}

.subnav .subnavbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .subnav:hover .subnavbtn {
  background-color:yellowgreen;
}

.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color:goldenrod;
  width: 100%;
  z-index: 1;
}

.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
}

.subnav-content a:hover {
  background-color: #eee;
  color:black;
}

.subnav:hover .subnav-content {
  display: block;
}
.carousel-caption{
  background-color: rgba(0,0,0,0.5);
}
.carousel{
  border:solid #5637DD;
}
.team-images img{
  max-height: 400px;
}
.site-footer {
  background-image: linear-gradient(aqua, white);
  padding: 20px;
}
.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.vertical-line {
  border-left: 1px solid black;
  height: 30px;
  position: absolute;
  left: 40%;
  margin-left: 3px;
  top: 0;
}